<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <h1>Requerindo Item</h1>
       
        <h1>Dados:</h1>

        <h1>Corrente: 
            <b1>|  {{ item.corrente }}  |</b1>
        </h1>
        
        <h1> Tensão: 
            <b1>
                |  {{ item.tensão }} |
            </b1>
        </h1>
        
        
        <h1> Banco de baterias:
            <b1>
            |  {{ item.carga_do_banco }} |
            <b1>
        </h1>







